@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

body 
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('/public/Assets/Backgrounds/newbg.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.SignUp{
    margin: 20px;
}
.container
{
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    margin: 10px;
}

.content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}


form .user-details .input-box{
    margin-bottom: 15px;
    color: #fff;
}
  
form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 10px;
    padding-left: 15px;
    background: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    letter-spacing: 1px;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    transition: all 0.3s ease;
}
.user-details .input-box textarea{
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 10px;
  padding-left: 15px;
  background: rgba(255,255,255,0.2);
  border: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
  letter-spacing: 1px;
  color: #fff;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  transition: all 0.3s ease;
}

.user-details .input-box input::placeholder
{
    color: #fff;
}

.user-details .input-box textarea::placeholder
{
    color: #fff;
}

form button{
     height: 45px;
     margin-bottom: 35px;
   }
    
@media screen and (max-width: 500px) {

    .form .column {
        flex-wrap: wrap;
    }

    .form :where(.gender-option, .gender) {

        row-gap: 15px;

    }
}