<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atomic Heart</title>
    <link rel="stylesheet" href="/src/components/atomic_heart.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
  <section>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg">
      <div class="container-fluid">
        <a class="navbar-brand text-white fs-5" href="/src/index.html">
          <img src="/public/Assets/nova quest/novoquest.png" alt="" style="width: 30px;height: 30px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link text-white fs-5" aria-current="page" href="/src/index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white fs-5 " href="/AboutPage/AboutPage.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white fs-5 " href="/Forms/Contact Us/Contact us.html">Contact</a>
            </li>
            <li class="nav-item text-white fs-5 dropdown">
              <a class="nav-link text-white fs-5 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Profile
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/src/authorization/login.html">Login</a></li>
                <li><a class="dropdown-item" href="/src/authorization/sign_up.html">SignUp</a></li>
                <li><a class="dropdown-item" href="#">Log out</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white fs-5 " href="#">Cart</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </header>
  </section>
  <section class="PageCon mtop">
    <div class="container ">
      <div class="heading flex1">
        <h2>Atomic Heart</h2>
      </div>
      <div class="HighlightCon row">
        <div class="shelf col-md-8" style="margin-top: 20px;">
          <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
            </div>
            <div class="carousel-inner" style="border-radius: 15px;">
              <div class="carousel-item active" data-bs-interval="10000">
                <img src="/public/Assets//Atomic Heart/Atomic Heat Gameplay (2).jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="10000">
                <img src="/public/Assets//Atomic Heart/Atomic Heat Gameplay (1).jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="10000">
                <img src="/public/Assets//Atomic Heart/Atomic Heat Gameplay (4).png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="10000">
                <img src="/public/Assets//Atomic Heart/Atomic Heat Gameplay (3).png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="10000">
                <img src="/public/Assets//Atomic Heart/Atomic Heat Gameplay (1).png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="10000">
                <img src="/public/Assets//Atomic Heart/Atomic Heat Gameplay (2).png" style="border-radius: 15px;" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <br>
          <div class="Buy Box" style="backdrop-filter: blur(5px);box-shadow: 0 25px 45px rgba(0,0,0,0.1);border: 1px solid rgba(255,255,255,0.5);border-right: 1px solid rgba(255,255,255,0.2);border-bottom: 1px solid rgba(255,255,255,0.2);background: rgba(255,255,255,0.1);border-radius: 10px;">
            <br><p style="padding: 10px;"> Enjoy More than 1000+ by our monthly subscription for just ₹ 999. Enjoy PC Games on your mobile via our Nova Questlink app. Hurry up purchase our subscription for the best Gaming experience.</p>
            <br>
        </div>
        </div>
        <div class="info col-md-4">
          <img src="/public/Assets//Atomic Heart/Atomic Heart Cover 3.jpg" style="margin-top: 20px;width:auto;height:auto;border-radius: 20px;" class="d-block w-100" alt="...">
          <br><p style="text-align: justify;">In a mad and sublime utopian world, take part in explosive encounters. Adapt your fighting style to each opponent, use your environment and upgrade your equipment to fulfill your mission. If you want to reach the truth, you'll have to pay in blood.</p>
          <table style="width:100%">
            <tr>
              <td>Recent Reviews</td>
              <td>Very Positive (816)</td>
            </tr>
            <tr>
              <td>All Reviews</td>
              <td>Very Positive (16,981)</td>
            </tr>  
            <tr>
              <td>Release Date</td>
              <td>21-02-2023</td>
            </tr>
            <tr>
              <td>Devoloper</td>
              <td>Mundfish</td>
            </tr>
            <tr>
              <td>Publisher</td>
              <td>Focus Entertainment</td>
            </tr>  
          </table>
          <br>
          <div class="BuyBox">
            <table style="width:100%">
                <tr>
                  <td>Atomic Heart</td>
                  <td>₹ 2,699</td>
                </tr>
            </table>
            <br>
            <div class="Buttons row justify-content-end">
                <button class="btn btn-outline-light col">Cart</button>
                <button class="btn btn-outline-light col">Buy Now</button>
            </div>
          </div>
          <br>
          <br>
          <br>
        </div>
        <div class="Buy Box" style="backdrop-filter: blur(5px);box-shadow: 0 25px 45px rgba(0,0,0,0.1);border: 1px solid rgba(255,255,255,0.5);border-right: 1px solid rgba(255,255,255,0.2);border-bottom: 1px solid rgba(255,255,255,0.2);background: rgba(255,255,255,0.1);border-radius: 10px;">
            <br><h5>ABOUT THIS GAME</h5>
            </h5>
            <p style="text-align: justify;">
                Welcome to a utopian world of wonders and perfection, in which humans live in harmony with their loyal and fervent robots.<br><br>Well, that's how it used to be. With the launch of the latest robot-control system mere days away, only a tragic accident or a global conspiracy could disrupt it…<br><br>The unstoppable course of technology along with secret experiments have brought rise to mutant creatures, terrifying machines and superpowered robots—all suddenly rebelling against their creators. Only you can stop them and find out what lies behind the idealized world.<br><br>Using the combat abilities granted by your experimental power glove, your arsenal of blades and cutting-edge weaponry, fight for your life in explosive and frenetic encounters. Adapt your fighting style to each unique opponent. Combine your skills and resources, use the environment and upgrade your equipment to overcome challenges and fight for good.
            </p>
            <br>
        </div>
      </div>
      <br>
      <br>
      <BR><div class="Req row">
        <br>
        <h5>SYSTEM REQUIREMENT</h5>
        <div class="MinReq col-md-6">
            <table style="width:100%">
                <h6>Minimum</h6>
                <tr>
                  <td>Processor :</td>
                  <td>AMD Ryzen 3 1200 or Intel Core i5-2500</td>
                </tr>
                <tr>
                  <td>Memory :</td>
                  <td>8 GB RAM</td>
                  </td>
                </tr>  
                <tr>
                  <td>Graphics :</td>
                  <td>4 GB VRAM, AMD Radeon R9 380 or NVIDIA GeForce GTX 960</td>
                </tr>
                <tr>
                  <td>Storage :</td>
                  <td>90 GB available space</td>
                </tr>  
              </table><br>
        </div>
        <div class="RecomReq col-md-6">
            <table style="width:100%">
                <h6>Recommended</h6>
                <tr>
                  <td>Processor :</td>
                  <td>AMD Ryzen 5 2600X or Intel Core i7-7700K</td>
                </tr>
                <tr>
                  <td>Memory :</td>
                  <td>16 GB RAM</td>
                  </td>
                </tr>  
                <tr>
                  <td>Graphics :</td>
                  <td>8 GB VRAM, AMD RX 6700 XT or NVIDIA GeForce RTX 2070</td>
                </tr>
                <tr>
                  <td>Storage :</td>
                  <td>90 GB available space</td>
                </tr>  
              </table><br>
        </div>
    </div>        
  </section>
  <section class="popular mtop">
    <div class="container ">
      <div class="heading flex1">
        <h2 id="Featured">Recommended</h2>
        <button class="btn btn-outline-light">More</button>
      </div>
      <div class="FContent row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4">
        <div class="item col">
            <div class="box">
              <div class="imgBox">
                <a href="/src/components/callisto_protocal.html"><img src="/public/Assets/Callisto Protocal/Callisto Protocal Cover.jpg" alt="" ></a>
                <div class="icon">
                  <i class="far fa-heart"></i>
                  <i class="far fa-shopping-cart"></i>
                </div>
              </div>
              <div class="content">
              </div>
              <div class="text">
                <h3>The Callisto Protocol</h3>
                <div class="time flex">
                  <span>₹2,499</span>
                  <i class="fas fa-circle"></i>
                  <a>Horror</a>
                </div>
              </div>
            </div>
          </div>
        <div class="item col">
          <div class="box">
            <div class="imgBox">
              <a href="/src/components/elden_ring.html"><img src="/public/Assets//Elden Ring/Elden Ring Cover.jpg" alt="" ></a>
              <div class="icon">
                <i class="far fa-heart"></i>
                <i class="far fa-shopping-cart"></i>
              </div>
            </div>
            <div class="content">
            </div>
            <div class="text">
              <h3>Elden Ring</h3>
              <br>
              <div class="time flex">
                <span>₹2,599</span>
                <i class="fas fa-circle"></i>
                <a>RPG</a>
              </div>
            </div>
          </div>
        </div>
        <div class="item col">
            <div class="box">
              <div class="imgBox">
                <a href="/src/components/evil_west.html"><img src="/public/Assets//Evil West/EVIL WEST COVER.jpg" alt=""></a>
                <div class="icon">
                  <i class="far fa-heart"></i>
                  <i class="far fa-shopping-cart"></i>
                </div>
              </div>
              <div class="content">
              </div>
              <div class="text">
                <h3>Evil West</h3><br>
                <div class="time flex">
                  <span>₹2,399</span>
                  <i class="fas fa-circle"></i>
                  <a>Action & Adventure</a>
                </div>
              </div>
            </div>
          </div>
        <div class="item col">
          <div class="box">
            <div class="imgBox">
              <a href=""><img src="/public/Assets//SIFU/SIFU Cover.jpg" alt=""></a>
              <div class="icon">
                <i class="far fa-heart"></i>
                <i class="far fa-shopping-cart"></i>
              </div>
            </div>
            <div class="content">
            </div>
            <div class="text">
              <h3>Sifu</h3><br>
              <div class="time flex">
                <span>₹959</span>
                <i class="fas fa-circle"></i>
                <a>Action</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="Contents row">
        <div class="LogoBox col-md-3 col-sm-6">
            <div class="logo">
                <img src="/public/Assets/nova quest/novoquest_footer.png">
            </div>
            <p style="opacity: 0.7;margin: 20px;text-align: justify;"> Buy PC games and get the latest game and community news with Nova Quest.</p>
            <div class="icon" style="margin: 20px;">
                <a href="https://www.facebook.com/sadhanand.official/"><i class="fab fa-facebook-square"></i></a>
                <a href="https://www.instagram.com/iam_sadhanand/"><i class="fab fa-instagram"></i></a>
                <a href="https://twitter.com/explore"><i class="fab fa-twitter-square"></i></a>
                <a href="https://www.youtube.com/channel/UCGc9Z5TN7T4JrDKRYi86UvA"><i class="fab fa-youtube-square"></i></a>
            </div>
        </div>
        <div class="ExploreBox col-md-2 col-sm-6">
            <h2 style="margin: 20px;">Explore</h2>
            <div class="flex">
                <ul>
                    <li><a href="/src/index.html">Home</a></li>
                    <li><a href="#">New Releases</a></li>
                    <li><a href="#">Trending</a></li>
                    <li><a href="#">Most Rated</a></li>
                </ul>
            </div>
        </div>
        <div class="CompanyBox col-md-2 col-sm-6">
            <h2 style="margin: 20px;">Company</h2>
            <div class="flex">
                <ul>
                    <li><a href="#">Company</a></li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="/src/contact/contact.html">Contact us</a></li>
                    <li><a href="/src/about/about.html">Our Team</a></li>
                </ul>
            </div>
        </div>
        <div class="Download box col-md-5 col-sm-6">
            <h2 style="margin: 20px;">Download App</h2>
            <p style="opacity: 0.7;margin: 20px;text-align: justify;">With the free Nova Quest Mobile App, you can take Nova Quest with you anywhere. Buy PC games and get the latest game and community news - while protecting your Nova Quest account. Shop Nova Quest and Browse the Nova Quest catalog of PC games from your phone. Never miss a sale again.</p>
            <div class="app row">
                <img class="col-md-6" src="/image/app1.png" alt="">
                <img class="col-md-6" src="/image/app2.png" alt="">
            </div>
            <br>
        </div>
    </div>
  </footer>
  <p class="legal">Copyright (c) 2023 Copyright Holder All Rights Reserved | Made By <i class="fas fa-heart"></i> Sadhanand S S</p>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>