@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #161616;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}
.bg{
  background-color: #161616;
}
section{
  background-color: #161616;
}
/*---------global------*/
.container {
  max-width: 95%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 40px;
}

a {
  text-decoration: none;
  transition: 0.5s;
}

img {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
}

.flex1 {
  display: flex;
  justify-content: space-between;
}

i {
  cursor: pointer;
  transition: 0.5s;
}
/*---------global------*/
/*---------header------*/
.home {
  color: white;
  background-image: url("/public/Assets/Hogwarts Legacy/hogwarts.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.logo img {
  width: 245px;
  height: 67px;
}

#palybtn {
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(5px);
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
} 

.btn:hover {
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
}

.subscribe button {
  border-radius: 10px;
  margin-left: 15px;
}
/*---------home_content------*/
.left, .right {
  width: 50%;
}

.top {
  margin-top: 10%
}

.mtop {
  margin-top: 5%
}

h1 {
  font-size: 80px;
  letter-spacing: 2px;
  line-height: 90px;
  text-transform: uppercase;
}

.detail {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 40px;
}

.detail label {
  width: 40px;
  height: 40px;
  border: 1px solid white;
  text-align: center;
  line-height: 40px;
}

.detail i {
  font-size: 5px;
  line-height: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.home_content p {
  font-size: 20px;
  line-height: 35px;
}

.btn{
  padding: 10px;
}

.home_content #palybtn {
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: white;
  color: #000;
}

.button {
  margin-top: 30px;
}

.button p {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 16px;
}
/*---------header------*/
/*---------popular------*/
.heading h2 {
  font-size: 25px;
  font-weight: 400;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.heading {
  margin-bottom: 30px;
}

.heading button {
  padding: 15px 50px;
}

.popular {
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  background-color: #161616;
}

/*---------image_hover------*/

.popular .FContent{
  display: flex;
  padding: 10px;
  margin-left: 0;
  margin-right: 0;
}
.popular .box {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.popular .box .imgBox {
  position: relative;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
}

.popular .box .imgBox img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: 0.5s;
}

.popular .box:hover .imgBox img {
  opacity: .55;
  border-radius: 10px;
}

.popular .box .content {
  position: absolute;
  width: 100%;
  top: 30%;
  left: 40%;
  z-index: 2;
}

.popular .box .content i {
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.popular .box:hover .content i {
  opacity: 1;
  visibility: visible;
}

.popular #palybtn {
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: #000;
}

/*----icon------*/
.popular .icon {
  position: absolute;
  bottom: 0;
  right: 0;
}

.popular .icon i {
  font-size: 20px;
  margin: 10px;
}

/*----text------*/
.popular .text {
  padding: 20px;
}
.owl-s .dots span {
  font-size: 20px;
  color: white;
}

/*---------popular------*/
/*---------footer------*/
footer {
  position: bottom;
  background: #221F1F;
  color: white;
}

footer .container {
  margin-top: 0;
  padding: 0;
} 

footer .LogoBox .icon a {
  margin-right: 20px;
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
}

footer .LogoBox .icon a:hover {
  color: #E50916;
  transition: 0.5s;
}

footer ul li{
  list-style-type: none;
  margin-bottom: 15px;
}

footer .Contents .ExploreBox ul li a {
  color: white;
  text-decoration: none;    
  opacity: 0.7;
  transition: 0.5s;
}

footer .Contents .CompanyBox ul li a {
  color: white;
  text-decoration: none;    
  opacity: 0.7;
  transition: 0.5s;
}

footer ul li::before {
  content: "\2023";
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}
footer .logo img{
  margin:20px;
  width: 245px; 
  height: 68px;
}

footer .app img {
margin: 5px;
width: auto;
height: auto;
}

footer .Contents .ExploreBox ul li a:hover {
color: #E50916;  
}

footer .Contents .CompanyBox ul li a:hover{
color: #E50916;  
}

.legal {
color: white;
width: 100%;
text-align: center;
background: #E50916;
padding: 20px;
margin: 0;
font-size: 14px;
}

@media only screen and (max-width: 480px) {
  html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 900px) and (min-width: 481px) {
  html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  footer .logo img {
    margin-left: 0;
    width: 162px;
    height: 55px;
  }
}

@media only screen and (max-width: 912px){ 
  footer .logo img {
    margin-left: 0;
    width: 100%;
    height: 100%;
  }
}

